:ruby
  objekt = controller_name.singularize.capitalize.camelcase.constantize
  
= render "/layouts/nav", controller_name: controller_name, action_name: action_name, page_name: t("listing_chambers"), objekt: objekt
.table-responsive
  %table.table.table-striped.table-hover.table-sm.table-bordered
    %thead
      %tr
        %th=t("chamber_name")
        %th=t("description")
        %th=t("notes")
        %th=t("date")
        %th=t("day")
        %th=t("time")
        %th
        %th
        %th

    %tbody
      - @chambers.each do |chamber|
        %tr
          %td.text-center= chamber.name
          %td.text-center= truncate(chamber.description, {})
          %td.text-center= truncate(chamber.notes, {})
          %td.text-center= chamber.created_at.strftime('%Y-%m-%d')
          %td.text-center= I18n.t('day_names')[chamber.created_at.wday]
          %td.text-center= time_in_day(chamber.created_at)
          %td.text-center.text-center
            =link_to "<i class = 'bi bi-eye fs-5'></i>".html_safe, chamber_path(chamber), { "data-toggle"=> "tooltip", "data-placement"=> "top", "title"=> t("view_record_with_number", record_number: chamber.id) }  
          %td.text-center.text-center
            -if policy(objekt).update?
              =link_to "<i class = 'bi bi-pencil-square fs-5'></i>".html_safe, edit_chamber_path(chamber), { "data-toggle"=> "tooltip", "data-placement"=> "top", "title"=> t("edit_record_with_number", record_number: chamber.id) }
          %td.text-center
            -if policy(objekt).delete?
              = link_to "<i class = 'bi bi-trash3 fs-5'></i>".html_safe, chamber, "data-toggle" => "tooltip", "data-placement" => "top", "title" => t("delete"), data: { "turbo-method": :delete, controller: "chambers", "confirmation-message-value": 'Are you sure?', action: "chambers#destroy"}              

= paginate @chambers