= render "/layouts/nav", controller_name: controller_name, action_name: action_name, page_name: t("users.show_user"), objekt: @user
.table-responsive
  %table.table.table-striped.table-hover.table-sm.table-bordered
    %tbody
      %tr
        %th=t("users.email")
        %td= @user.email
      %tr
        %th=t("users.phone")
        %td= @user.phone

%br
.table-responsive
  %table.table.table-striped.table-hover.table-sm.table-bordered
    - if @user.all_permissions
      - user_permissions = @user.all_permissions
      %thead
        %tr.table-primary
          %th{ colspan: 17 }
            =t("permissions.listing_permissions")
        %tr
          %th=t("users.action")
          %th=t("users.resource")
          %th
          %th
      %tbody
        - Permission.all_permissions.each do |permission|
          %tr
            %td= resource_ar_en_mapper(permission.keys.last)
            %td= action_ar_en_mapper(permission[permission.keys.last])
            %td= user_permissions.include?(permission) ? "<i class='fa-solid fa-check'></i>".html_safe : "<i class='fa-solid fa-xmark'></i>".html_safe
    - else
      %thead
        %tr.table-primary
          %th "No permissions yet"
